/* COMMON */
.title {
    text-align: center;
    text-transform: uppercase;
}

.wrapper {
    max-width: 900px;
    margin: auto;
}

.small-wrapper {
    max-width: 800px;
    margin: auto;
}

/* HEADER */
.header-nav {
    background-color: #2c3e50;
    color: white;
    padding: 20px 0;
}

.logo {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 20px;
}

.header-menu,
.burger-menu {
    text-align: right;
}

.burger-menu i {
    color: white;
}

/* Jumbotron */
.jumbotron {
    background-color: #1abc9c;
}

.jumbotron-text {
    text-align: center;
    color: white;
    text-transform: uppercase;
    width: 80%;
    margin: auto;
}

.jumbotron-text> h1 {
    font-size: 50px;
}

/* MAIN */
/* Portfolio Section */

/* TEST */
.portfolio-img {
    height: 220px;
    background-color: lightcoral;
    margin: 15px 0;
    border-radius: 10px;
}


